body {
    font-family: Arial, sans-serif;
    
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(background.png);
    
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}


input[type="submit"] {
    background-color: #1D314D;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #1D314D;
}


input::placeholder {
  
  opacity: 0.9;
  color: black;
  font-weight: bolder;
}

select:invalid {
    opacity: 0.5;
    color: black;
    font-weight: bolder;
}


.bloco1 {
    width: 90%;
    background-color: #DCDCDC;
    opacity: 0.5;
    margin-left: 20px;
    margin-bottom: 10px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.bloco2 {
    width: 90%;
    background-color: #DCDCDC;
    opacity: 0.5;
    margin-right: -5pxpx;
    margin-bottom: 10px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.caixa {
    height: 40px;
    width: 20%;
}

.container {
    background-color: white;
    width: 45%;
    position:relative;
    border-radius: 8px;
    margin-top: -230px;
    display: flex;
    height: 300px;
    
}

.containertitulo {
    background-color: white;
    width: 45%;
    position:relative;
    height: 300px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    
}

.divcaixatexto
{
    
    width: 50%;
    
}

.caixatexto
{
    
    margin: 5%;
    height: 70%;
}

.divcaixatexto2
{
    
    width: 50%;
}


.enviar{
    position: absolute;
    width: 10%;
    padding: 10px;
    margin-left: -5%;
    margin-top: -3%;
    border-radius: 4PX;

}


.logo {
    font-size: 24px;
    margin: 10px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: bold;
    font-family: League-Spartan;
}

.nav {
    display: flex;
    color: #1D314D;
    justify-content: space-between;
    align-items: center;
    /* font-family: League-Spartan; */
    background: white;
    height: 50px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0px; 
}


.nav-list {
    list-style: none;
    display: flex;
    margin: 10px;
    font-size: small;
    font-family: sans-serif;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 10px;
    font-family: sans-serif;
}

@font-face {
    font-family: league-spartan;
    src: url(../index/fontes/league-spartan/LeagueSpartan-Bold.otf)
  }