@font-face{
  font-family: league-spartan;
  src: url(../fontes/league-spartan/LeagueSpartan-Bold.otf)
}

body {
    margin: 0;
    padding: 0;
    background-color:#FFFFFF;
  }
  /* classes dos campos de inserção de dados */
  .campos{
    display: flex;
    float: right;
    flex-direction:column;
    background-color: #ffffff;
    width: 100%;
    height: 50px;
    /* padding-block-end: 20%; */
  }
  .camposCima{
    display: flex;
    justify-content: space-around;
    margin: 25px;
  }
  .camposBaixo{
    display:flex;
    justify-content: space-around;
    flex-direction: column;
    margin: 25px;
  }
  .nomeCompleto{
    color: black;
    font-size: 20px;
    font-weight: bold;
    #nomeCompleto{
        background-color: #EBEBEB;
        border:#FFFFFF;
        border-radius: 15px;
        width: 300px;
        height: 50px;
        font-size: 20px;
        text-align: center;
    }
  }
  .nascimento{
    color: black;
    font-size: 20px;
    font-weight: bold;
    #nascimento{
        background-color: #EBEBEB;
        border:#FFFFFF;
        border-radius: 15px;
        width: 300px;
        height: 50px;
        font-size: 20px;
        text-align: center;
    }
  }
  .cpf{
    color: black;
    font-size: 20px;
    font-weight: bold;
    #cpf{
        background-color: #EBEBEB;
        border:#FFFFFF;
        border-radius: 15px;
        width: 300px;
        height: 50px;
        font-size: 20px;
        text-align: center;
    }
  }
  .email{
    color: black;
    font-size: 20px;
    font-weight: bold;
    #email{
        background-color: #EBEBEB;
        border:#FFFFFF;
        border-radius: 15px;
        width: 300px;
        height: 50px;
        font-size: 20px;
        text-align: center;
    }
  }
  .telefone{
    color: black;
    font-size: 20px;
    font-weight: bold;
    #telefone{
        background-color: #EBEBEB;
        border:#FFFFFF;
        border-radius: 15px;
        width: 300px;
        height: 50px;
        font-size: 20px;
        text-align: center;
    }
  }
  /* div principais */
  .container{
    display: flex;
    width: 100%;
    background-color: #EBEBEB;
    height: 80px;
  }
  .fotoPerfil{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1D314D;
    width:100%;
    height: 150px;
  }
  .fotoPerfil img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  .fotoPerfil span{
    color: #ffffff;
  }
  #hamburguer{
    background-color:#374962;
    color: #FFFFFF;
    display: flex;
    float:left;
    flex-direction: column;
    align-items: top;
    width: 20%;
    height: 50px;
    padding-block-end: 100%;
    top: 80px;
    padding-block-end: 34.2%;
  }
  .itensNaveBar {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color:#1D314D;
    width: 350px;
    list-style: none;
  }

  .itensNaveBar a{
    text-decoration: none;
    color:#1D314D;
  }

  .titulo{
    color:#1D314D;
    margin-left: 50px;
  }

  #menuH{
    display: flex;
    flex-direction: row;
    width: 2vw;
    height: 13vh;
    align-content: end;
    background-color: #EBEBEB;
    color: #1D314D;
    cursor: pointer;
    align-items: center;
  }
  .listaItens{
    list-style: none;
    justify-content: space-around;
    padding: 40px 0px 0px 40px;
  }

  .listaItens a{
    text-decoration: none;
    color:#FFFFFF;
  }

  .listaItens li{
    /* espaço entre cada item da lista (li) */
    padding: 0px 0px 30px 0px;
  }

  /* alinhamento - foto perfil */

  .filho_foto_e_campos{
    display: flex;
    flex-direction: column;
    /* width: 100%;  */
  }

  .mae{
    display: flex;
  }

  /* botões de alterar dados e salvar */

  .botoes {
    display: flex;
    justify-content:space-around;
    width: 100%;
  }

  .alterar{
    background-color: #1D314D;
    border-radius: 15px;
    border: #FFFFFF;
    font-size: 20px;
    color: #FFFFFF;
    width: 150px;
    height: 50px;
    cursor: pointer;
  }

  .salvar{
    background-color: #1D314D;
    border-radius: 15px;
    border: #FFFFFF;
    font-size: 20px;
    color: #FFFFFF;
    width: 150px;
    height: 50px;
    cursor: pointer;
  }

  .separacaoBotao{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 0 40px;
  }