body {
 font-family: league-spartan;
 margin: 0;
 padding: 0;

}

.navbar {
    height: 10vh;
    display: flex;
    align-items: center;
}

.title {
    margin-left: 15px;
    font-weight: bold;
    font-size: x-large;
}

.containerA {
    display: flex;
    margin: 10px;
    list-style: none;
    justify-content: space-evenly;
    width: 150px;
}

.maindiv {
    display:flex;
    height: 100%;
}

.sidebar {
    height: 90vh;
    width: 15%;
    background-color: #374962;
    color: white;
    
}

.profile {
    margin: 10px;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: white solid;
}

.pfp {
    background-color: white;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    margin-right: none;
}

.profile_name {
    color: #97babd;
    justify-self: flex-start;
    align-self: flex-end;
    margin-left: none;
    margin-bottom: 7px;
}

.listaside {
    display: flex;
    margin-top: 50px;
    list-style: none;
    height: 90%;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    margin-left: -25px ;
    height: 25vh;
}

.title2 {
    font-weight: bold;
    font-size: x-large;
}

.legenda {
    margin-top: 50px;
    margin-left: 30px       ;
    display: flex;
    flex-direction: column;
}

.fluxo {
    font-size: 18px;
}

.informacoes {
    margin-top: 50px;
    display: flex;
    
}

.bloco {
    width: 20px;
    height: 20px;

}

.cores {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 40vh;
    align-items: center;
    width: 50px;
    align-self: flex-end;
}

.subtitulo1 {
    margin-top: 30px;
    margin-bottom: -25px;
}

.subtitulo2 {
    height: fit-content;
    margin-top: 25px;
}

.imgMapa {
    display: flex;
    align-self: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 150px ;
}

.tituloImg {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 22px;
    margin-left: -45px;
}

@font-face {
    font-family: league-spartan;
    src: url(fontes/league-spartan/LeagueSpartan-Bold.otf)
  }
