body {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #fff;
}

.header {
  display: flex;

}

.container{
  display: flex;
  width: 80%;
  margin: auto;
}

.header .container{
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  width: 100%;
  
}

.titulo{
  color: #0a3339;
}

.logo{
  display: flex;
  
}

.logo img{
  height: 90%;
  width: auto;
  margin: 5px;
}

.navbar {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
  color: #07272c;
  align-items: center;
  font-weight: bold;

 
}

.navbar li {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 8px; 
}

.navbar .quem{
  margin-right: 0px;
}

.navbar .bt {
  background-color: #07272c;
  color: #fff;
  padding: 8px 35px;
  border-radius: 50px;
  font-size: 15px;
  font-family: sans-serif;
  font-weight: 550;
}

.banner{
  padding: 40px 0;
  color: #fff;
  height: 564px;
  background-image: url('imagens/fundo_index.png');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;

}

  .banner .container{
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    margin-bottom: -8%;
  }

  .banner .container .chamado{
    flex-direction: column;
  }

  .banner .container p{
    font-size: 20px;
    width: 68%;
    margin-top: 0px;
  }

  .banner .container h1{
    margin-top: 0px;
    font-size: 120px;
    margin-bottom: 0px;
    font-family: league-spartan;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
  }

  .banner .container p span{
    font-weight: bold;
  }

  .banner .LoginCadastro{
    display: flex;
    align-items: center;

    width: 46%;
  }

  .banner .LoginCadastro .BtLogin{
    background-color: #ffffff00;
    color: #fff;
    border-radius: 50px;
    border-color: #fff;
    height: 30px;
    width: 120px;
    border-style: solid;

  }

  .banner .LoginCadastro .BtCadastro{
    background-color: #07272c;
    color: #fff;
    border-radius: 50px;

    height: 30px;
    width: 120px;
    border-style: solid;

    margin-left: 5%;
  }

  
  @font-face {
    font-family: league-spartan;
    src: url(fontes/league-spartan/LeagueSpartan-Bold.otf)
  }