
body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color:#FFFFFF;
    overflow-y: visible;
  }
.container{
  display: flex;
  width: 100%;
  background-color: #EBEBEB;
  height: 80px;
}
#itens-laterais{
  background-color:#374962;
  color: #FFFFFF;
  display: block;
  float:left;
  flex-direction: column;
  align-items: top;
  width: 20%;
  height: auto;
  padding-block-end: 50%;

}
.itensNaveBar {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  color:#1D314D;
  width: 350px;
  list-style: none;
}
.titulo{
  color:#1D314D;
  margin-left: 50px;
}
#menuH{
  display: flex;
  flex-direction: row;
  width: 2vw;
  height: 30%;
  margin-top: 2%;
  background-color: #EBEBEB;
  color: #1D314D;
  cursor: pointer;
  justify-content: center;
}
.listaItens{
  list-style: none;
  justify-content: space-around;
}
.listaItens li{
  /* espaço entre cada item da lista (li) */
  padding: 0px 0px 20px 0px;
}

.listaItens a{
  text-decoration: none;
  color: #EBEBEB;
}

.itensNaveBar a{
  text-decoration: none;
  color: #1D314D;
}

.fotoPerfil{
  display: flex;
  margin: 30px;
}
.fotoPerfil img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-left: 12%;
}

.box-title{
  margin-left: 25%;
  
}
.linha{
  font-size: 15px;
  font-style: inherit;
  font: bold;
  display: flex;
  margin: 0 0 0% 47%;
  align-items: center;
  text-align: center;
}

/* Colocando Linha, o nome de cada Estação e o Nome da linha em um unico Container */

.juncao{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.juncao .linha{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: start;
  flex-direction: column;
  width: 10px;
  height: 10px;
  margin: 0 0 0 20%;
}

/* Manipulando a Box onde estão os radio buttons de cada Estação */

.box-linha{
  background-color: yellow;
  width: 700px;
  height: 20px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 0  ;
}
.box-estacoes{
  white-space: nowrap;
  overflow-x: auto;
  display:flex;
  justify-content: center;
  margin: 0 0 0 60px  ;
  background-color: #ffffff;
  height: 200px;
  width: 700px;
  justify-content: space-evenly;
  overflow-x: hidden;
}
.box-estacoes p{
  writing-mode: vertical-rl;
  transform: rotate(205deg);
  white-space: nowrap;
  display: inline-block;
  text-align: start;
  margin: 0;
  justify-content: space-evenly;
  
}

/* Editando o Container onde estão os Botões para exibir os dos graficos */

.container_switch{
    width: 50%;
    height: 155px;
    margin: 0 0 0 25%;
    background-color: lightgrey;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: top;
}
.box-grafico{
    width: 180px;
    height: 100%;
    border-radius: 10px;
    background-color: #374962;
    text-align: center;
    color:white;
    display: flex;  
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  .box-grafINTERNO{
    width: 180px;
    height: 60%;
    border-radius: 10px;
    background-color: #1D314D;
    text-align: center;
    color:white;
    display: flex;  
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  }
  
  /* Definindo o design das CheckBox */ 

  .switch {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .switch .switch-wrapper {
    display: flex;
    width: 60px;
    height: 34px;
    position: relative;
    justify-content: center;
    align-items: center;
  }
  
  .switch .switch-wrapper {
    top: 0%;
    left: 2%;
    right: 20%;
    bottom: 20;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 40px;
    background-color: #1D314D;
  }
  
  .switch .switch-wrapper input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .switch .switch-wrapper .switch-button::before {
    content: "";
    width: 26px;
    height: 26px;
    position: absolute;
    left: 4px;
    bottom: 4px;
    border-radius: 50%;
    transition: .4s all ease;
    background-color: #FFFFFF;
  }
  
  .switch .switch-wrapper input:checked + .switch-button::before {
    background-color: chartreuse;
  }
  
  .switch .switch-wrapper input:checked + .switch-button::before {
    transform: translate(26px);
  }
  
  /* Estilização específica para a checkbox customizada */
  .butBotaoGraf {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    cursor: pointer;
  }

  /* Editando o posicionamnedo dos graficos (IMAGENS) no site */

  .Box_ExibirGrafs{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    width: auto;
    height: auto;
  }
  
  /* Editando o tamanho de exibição das imagens. */

 .temporeal{
  background-color: #1D314D;
    border-radius: 15px;
    border: #FFFFFF;
    font-size: 20px;
    color: #FFFFFF;
    width: 150px;
    height: 50px;
    cursor: pointer;
    margin-left: 80%;
 }