body {
    margin: 0;
    padding: 0;
    font-family: fantasy;
    background-image: url(img/background.png);
}

body:hover {
    cursor: default;
}

nav {
    background-color: #fff;
}

.container {
    display: flex;
    width: 95%;
    margin: auto;
}

nav .container {
    align-items: center;
    justify-content: space-between;
}
.titulo, ul, span {
    color: #1D314D;
    font-weight: bold;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.navbar  ul, .navbar span {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #1D314D;
    align-items: center;
}

.navbar  li:hover, .navbar span:hover {
    color: #144b97;
    cursor: pointer;
}

.navbar ul {
    list-style: none;
    width: 150px;
    margin-right: 100px;
    font-size: 16px;
}

.navbar span, .titulo {
    font-size: 32px;
}

a {
    text-decoration: none;
}

main .container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
}

.form {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    height: 500px;
    margin: 10% 0;
    border-radius: 10px ;
    padding: 10px 0;
}

input {
    background-color: #cacaca;
    border: none;
    border-radius: 10px ;
    height: 50px;
    width: 75%;
    margin: 5px 0;
    padding-left: 10px;
    font-family: fantasy;
    font-size: 16px;
    font-weight: bold;
    color: #1D314D;
}

button {
    background-color: #1D314D;
    color: #fff;
    font-family: fantasy;
    font-weight: bold;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    height: 40px;
    width: 60%;
    margin: 30px 0 10px 0;
}

button:hover {
    background-color: #144b97 ;
    cursor: pointer;
}

.links {
    display: flex;
    justify-content: space-between;
}

#esqueci_senha {
    width: 50%;
}

#termos {
    width: 65%;
    margin-top: 45%;
}

.links span, .links a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
    color: #1D314D;
}


.links a:hover {
    color: #144b97;
    cursor: pointer;
}


