@import url(fontes/fonts.css);

body {
    margin: 0;
    padding: 0;
    font-family: Roboto;
    background-color:#FFFFFF;
    overflow-y: visible;
  }

  /* Início classes para NAVBAR de DASHBOARDS */

  .header1 {
    display: flex;
    flex-wrap: nowrap;

}

.header1 a {
    text-decoration: none;
    color: #07272c;
    scroll-behavior: smooth;
}

.container1 {
    display: flex;
    width: 80%;
    margin: auto;
}

.header1 .container1 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100vw;
    position: fixed;
    background-color: #fff;
    padding: 10px;
    z-index: 3;
    border-bottom: 2px solid #07272c;
    height: 6vh;

}

.titulo1 {
    color: #0a3339;
    font-family: League-Spartan;
    margin-left: 4vw;
    margin-right: 14vw;
    margin-top: 0;
    margin-bottom: 0;
}

.container {
    display: flex;
    width: 95%;
    margin: auto;
    padding: 10px;
}

.navbar1 {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    color: #07272c;
    align-items: center;
    font-weight: bold;
    font-family: Roboto;

}

.navbar1 li {
    display: flex;
    justify-content: space-between;
    margin: 8px;
    font-size: 19.2px;
}

.navbar1 .quem {
    margin-right: 0px;
}

.navbar1 .bt1 {
    background-color: #07272c;
    color: #fff;
    padding: 8px 35px;
    border-radius: 50px;
    font-size: 15px;
    font-family: Roboto;
    font-weight: 550;
    cursor: pointer;
}

.navbar .bt1 a {
    color: #fff;
}

.gap {
  width: 11vw;
  height: 6vh;
  padding: 10px;
}

/* fim */
.container{
  display: flex;
  width: 100%;
  background-color: #EBEBEB;
  height: 80px;
}
#itens-laterais{
  background-color:#374962;
  color: #FFFFFF;
  display: block;
  float:left;
  flex-direction: column;
  align-items: top;
  width: 20%;
  height: auto;
  /* padding-block-end: 50%; */

}
.itensNaveBar {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  color:#1D314D;
  width: 350px;
  list-style: none;
}
.titulo{
  color:#1D314D;
  margin-left: 50px;
}
#menuH{
  display: flex;
  flex-direction: column;
  width: 2vw;
  margin-left: 5px;
  height: 6vh;
  align-content: center;
  justify-content: center;
  background-color: white;;
  cursor: pointer;
}
.listaItens{
  list-style: none;
  justify-content: space-around;
}
.conteudo{
  width: 100%;
}


.listaItens li{
  /* espaço entre cada item da lista (li) */
  padding: 0px 0px 20px 0px;
}

.listaItens a{
  text-decoration: none;
  color: #EBEBEB;
}

.itensNaveBar a{
  text-decoration: none;
  color: #1D314D;
}

.fotoPerfil{
  display: flex;
  margin: 30px;
}
.fotoPerfil img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-left: 12%;
}

.box-title{
  margin-left: 5%;
  font-size: 20px;
  
}
.linha{
  font-size: 30px;
  font-style: inherit;
  font: bold;
  display: flex;
  margin: 0 0 0% 42%;
  align-items: center;
  text-align: center;
}
.box-juncao{
  margin-left: 0% ;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

.box-title{
  margin-left: 3%;
  margin-top: 1%;
}

.box-title h2,
.box-title h6 {
  margin-top: 0px;
  color: #1D314D;
}

.box-title h2 {
  margin-bottom: 0px;
  font-size: 35px;
}

.box-title h6 {
  font-size: 20px;
  color: #374962;
}

/* Colocando Linha, o nome de cada Estação e o Nome da linha em um unico Container */

.juncao{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.juncao .linha{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: start;
  flex-direction: column;
  width: 10px;
  height: 10px;
  margin: 0 0 0 20%;
}

/* Manipulando a Box onde estão os radio buttons de cada Estação */

.box-linha{
  background-color: yellow;
  width: 700px;
  height: 20px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 0;
}
.box-estacoes{
  white-space: nowrap;
  overflow-x: auto;
  display:flex;
  justify-content: left;
  background-color: #ffffff;
  height: 200px;
  width: 700px;
  justify-content: space-evenly;
  overflow-x: hidden;
  margin-left: 8%;
}
.box-estacoes p{
  writing-mode: vertical-rl;
  transform: rotate(205deg);
  white-space: nowrap;
  display: inline-block;
  text-align: start;
  margin: 0% 0 0 3%;
  justify-content: space-evenly;
  
}

/* Editando o Container onde estão os Botões para exibir os dos graficos */

.container_switch{
    width: 700px;
    height: 155px;
    margin-left: 0;
    background-color: lightgrey;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: top;
}
.box-grafico{
    width: 180px;
    height: 100%;
    border-radius: 10px;
    background-color: #374962;
    text-align: center;
    color:white;
    display: flex;  
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  .box-grafINTERNO{
    width: 180px;
    height: 60%;
    border-radius: 10px;
    background-color: #1D314D;
    text-align: center;
    color:white;
    display: flex;  
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  }
  
  /* Definindo o design das CheckBox */ 

  .switch {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .switch .switch-wrapper {
    display: flex;
    width: 60px;
    height: 34px;
    position: relative;
    justify-content: center;
    align-items: center;
  }
  
  .switch .switch-wrapper {
    top: 0%;
    left: 2%;
    right: 20%;
    bottom: 20;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 40px;
    background-color: #1D314D;
  }
  
  .switch .switch-wrapper input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .switch .switch-wrapper .switch-button::before {
    content: "";
    width: 26px;
    height: 26px;
    position: absolute;
    left: 4px;
    bottom: 4px;
    border-radius: 50%;
    transition: .4s all ease;
    background-color: #FFFFFF;
  }
  
  .switch .switch-wrapper input:checked + .switch-button::before {
    background-color: chartreuse;
  }
  
  .switch .switch-wrapper input:checked + .switch-button::before {
    transform: translate(26px);
  }
  
  /* Estilização específica para a checkbox customizada */
  .butBotaoGraf {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    cursor: pointer;
  }

  /* Editando o posicionamnedo dos graficos (IMAGENS) no site */

  .Box_ExibirGrafs{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: auto;
    height: auto;
  }
  
  /* Editando o tamanho de exibição das imagens. */

 .temporeal{
  background-color: #1D314D;
    border-radius: 15px;
    border: #FFFFFF;
    font-size: 20px;
    color: #FFFFFF;
    width: 150px;
    height: 50px;
    cursor: pointer;
    margin-left: 64%;
 }