@import url(fontes/fonts.css);


.heatmap {
  height: 490px;
  width: 850px;
  background-image: url(IMG/planta_paulista.png);
  background-size: cover;
  margin-left: 5%;
}


.texto-oficial{
  margin-top: 40%;
}

 .adicionar{
  color:#1D314D;
  font-family: Roboto;
  font-weight: bold;
  size: 10%;

}

select {
    background-color: #1D314D;
    margin-left: 5%;
    height: 55px;
    border-radius: 6px;
    color: #FFFFFF;
    font-family: Roboto;
    padding: 5px;
    font-weight: lighter;
    text-align: center;
    font-size: 15px;
    border: 2px solid #000;
    width: 200px;
}